
.img {

  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  background :  url("./pokemon-1513925_640.jpg") ;
  background-position: center;
  background-size: cover;
  
}

.divImg:hover {
width: 250px;
height: 200px;

}

.card {

width: 232px;
padding: 10px;
border-radius: 20px;
/* box-shadow: inset 0px 2px 15px #19647e; */
background: #f5f5f5b9;
margin-bottom: 25px;
border: 2px solid #c3c6ce;
transition: 0.5s ease-out;


}

