.cards {

        width: 103%;
        height: 70%;
        margin: auto;
    
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
     
}

 .h1 {
        background: rgba(255, 255, 255, 0.436);
        width: 400px;
        height: 200px;
        
        
 }
 .div {
        display : flex;
        flex-direction: row;
        justify-content: center;

 }